* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: logoFont;
    src: url(../assets/Norse-Bold.otf);
}

body {
    display: flex;
}

.nav-bar {
    width: 37.2%;
    min-height: 100vh;
    background: url('../assets/kevin-wang-t3RgJDGGtDw-unsplash.jpg') no-repeat center/cover;
}

.logo {
    display: flex;
    background-color: #fff6;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.logo img {
    height: 120px;
    width: auto;
}


.logo-text {
    font-family: logoFont;
    color: #000;
    font-size: 48px;

}
.main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-input-wrapper, 
.form-input, 
.form-header {
    padding: 20px;
}

.form-input-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}