* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: logoFont;
    src: url(../assets/Norse-Bold.otf);
}

body {
    display: flex;
}

.nav-bar {
    width: 37.15vw;
    min-height: 100vh;
    background: url('../assets/kevin-wang-t3RgJDGGtDw-unsplash.jpg') no-repeat center/cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-flex {
    height: 45vh;
    
    display: flex;
    align-items: flex-end;
}

.logo {
    display: flex;
    background-color: #fff4;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 150px;
    width: auto;
}


.logo-text {
    font-family: logoFont;
    color: #000;
    font-size: 60px;

}

.credit {
    text-align: center;
    color: #fff;
    padding: 20px;
}

.credit a {
    text-decoration: none;
    color: #fff;
}
.main {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 60vw;
}

.form-input-wrapper, 
.form-input, 
.form-header {
    padding: 20px;
}

.form-input-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}