* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: logoFont;
    src: url(../assets/Norse-Bold.otf);
}

body {
    display: flex;
}

.nav-bar {
    width: 37%;
    height: 100vh;
    border: 1px solid #d6d5d7;
    background: url('../assets/kevin-wang-t3RgJDGGtDw-unsplash.jpg') no-repeat center/cover;
}